.container { /* contains the navbar */
  margin: 0;
  padding: 0;
  height: 50px;; 
}
 
.navbar-brand { /* navbar logo image */
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.logo-img { /* logo img */
  width: 150px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
}

.auth-wrapper form * {
  box-sizing: border-box;
}


/* Body styles */
body {
background: #1c8ef9 !important; /* Set the background color */
min-height: 100vh; /* Set the minimum height of the body to the full viewport height */
display: flex; 
font-weight: 400; /* Set default font weight */
font-family: "Fira Sans", sans-serif; 
}





