.container { /* contains the navbar */
  margin: 0;
  padding: 0;
  height: 50px;; 
}
 
.navbar-brand { /* navbar logo image */
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.logo-img { /* logo img */
  width: 150px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
}



