/* The other pages are probably messed up because of the css here */



@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

/* Global styling */


/* Heading and label styles */
h1, h2, h3, h4, h5, h6, label, span {
  font-weight: 500; /* Set font weight for headings, labels, and spans */
  font-family: "Fira Sans", sans-serif; 
}

/* Styling for body, html, App component, root element, and auth wrapper */
body, html, .App, #root, .auth-wrapper {
  width: 100%; 
  height: 100%; 
}

/* Navbar styles */
.navbar-light {
  background-color: #ffffff; 
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); /* Apply a box shadow to the navbar */
}

/* Styling for the authentication wrapper */
.auth-wrapper {
  display: flex; 
  justify-content: center; /* Center content horizontally */
  flex-direction: column; /* Arrange content in a column */
  text-align: left; 
}


/* Styling for the inner authentication container */
.auth-inner {
  width: 450px; 
  margin: auto; /* Center the inner container horizontally */
  background: #ffffff; 
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); 
  padding: 40px 55px 45px 55px; 
  border-radius: 15px; 
  transition: all 0.3s; /* Add a smooth transition effect */
}

/* Styling for form controls when focused */
.auth-wrapper .form-control:focus {
  border-color: #167bff; /* Change the border color when the form control is focused */
  box-shadow: none; /* Remove the box shadow when the form control is focused */
}

/* Styling for authentication form headings */
.auth-wrapper h3 {
  text-align: center; 
  margin: 0; 
  line-height: 1; 
  padding-bottom: 20px; 
}

/* Styling for custom control labels */
.custom-control-label {
  font-weight: 400; 
  padding-left: 5px; 
}

/* Styling for the "Forgot password" link */
.forgot-password,
.forgot-password a {
  padding-top: 22px;
  text-align: right;
  font-size: 13px; 
  margin: 0; /* no margin */
  color: #7f7d7d;
}

/* Styling for the "Forgot password" link when hovered */
.forgot-password a:hover {
  color: #167bff; 
}

/* Styling for the "Sign up" link */
.sign-up,
.sign-up a {
  float: left; 
  font-size: 13px; 
  padding-top: 11px;
  color: #7f7d7d;
  margin: 0; 
}

/* Styling for the "Sign up" link when hovered */
.sign-up a:hover {
  color: #167bff; 
}
