.Container {
    height: 400px;
    width: 30%;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: #0563b4 !important
}

